.authModal {
    max-width: 300px;
    margin: auto;
    padding: 70px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 5px;
}

.Forms {
    display: grid;
    flex-direction: column;
}

form > input {
    padding: 5px 15px;
    outline: none;
    height: 40px;
    /* width: 80%; */
    border: none;
    margin-bottom: 14px;
    border-radius: 5px;
}

.credentialInput{
    padding: 5px 15px;
    outline: none;
    height: 40px;
    width: 90%;
    border: none;
    margin-bottom: 14px;
    border-radius: 5px;

}

button {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    outline: none;
}

.heading {
    text-align: left;
    margin-bottom: 25px;
}

h4 {
    text-align: left;
    margin-top: 30px;
}

.authModal_grey {
    color: grey;
}

.authModal_link:hover {
    cursor: pointer;
    text-decoration: underline;
}